{{!-- <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/odometer.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/odometer.min.js"></script> --}}

<style>
    .odometer{
        font-size: 59px;
    }
</style>



<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-4">
                <div class="user-block block text-center">
                  <div class="avatar"><img src="img/youtube-logo.png" alt="..." class="img-fluid">
                    {{!-- <div class="order dashbg-2">1st</div> --}}
                  </div><a href="#" class="user-title">
                    <h3 class="h5">Youtube live view count</h3><span>/yt/</span></a>
                  <div class="contributions"><a href="/youtube/">Use Now</a></div>
                  <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>340</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>460</strong></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-block block text-center">
                  <div class="avatar"><img src="img/twitter-logo.png" alt="..." class="img-fluid">
                    {{!-- <div class="order dashbg-1">2nd</div> --}}
                  </div><a href="#" class="user-title">
                    <h3 class="h5">Twitter live follower count</h3><span>/twit/</span></a>
                  <div class="contributions"><a href="/twitter/">Use Now</a></div>
                  <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>80</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>420</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>272</strong></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-block block text-center">
                  <div class="avatar"><img src="img/insta-logo.png" alt="..." class="img-fluid">
                    {{!-- <div class="order dashbg-4">3rd</div> --}}
                  </div><a href="#" class="user-title">
                    <h3 class="h5">Instagram live follower counter</h3><span></span></a>
                  <div class="contributions"><a href="/instagram/">Use Now</a></div>
                  <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>280</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>190</strong></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-block block text-center">
                  <div class="avatar"><img src="img/youtube-logo.png" alt="..." class="img-fluid">
                    {{!-- <div class="order dashbg-4">3rd</div> --}}
                  </div><a href="#" class="user-title">
                    <h3 class="h5">YouTube live subscriber count</h3><span></span></a>
                  <div class="contributions"><a href="/live-sub-count/">Use Now</a></div>
                  <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>280</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>190</strong></div>
                  </div>
                </div>
              </div>

        </div>
        </div>
    </div>
</section>