<link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/odometer.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/odometer.min.js"></script>

<style>
    .odometer{
        font-size: 59px;
    }
</style>
<div class="stats-2 block d-flex">

    <div class="container-fluid">
    <div class='odometer' >
        2525
    </div>
</div>
</div>