
<div class="container-fluid">
<div class=" stats-2 block">
<h2>Twitter live follower count</h2>
<div class="form-group">
    <form id="t_user_search" action="/twit/">
    <div class="input-group">
      <input type="text" class="form-control" name="username" placeholder="Search for the twitter username">
      <div class="input-group-append">
       <button type="submit" class="btn btn-primary">Go!</button>
    </div>
    </div>
    </form>
    </div>

</div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script>
     $("#twitter-home").addClass('active');
    $("#youtube-home").removeClass('active');
    var keywords="twitter live follower count,ethan dolan live twitter follower count,twitter live follower count bts,grayson dolan live twitter follower count,twitter live follower count shopee philippines,live twitter follower count lfc,exo twitter followers live count,james charles twitter follower count live,live twitter follower count bambam1a,tyler joseph live twitter follower count,twitter live follower count cnn türk";
    var $meta = $('meta[name=description]').attr('content', 'Get twitter live follower count with 100% accuracy');

    $("meta[name=keywords]").attr('content',keywords);

</script>