
<div class="container-fluid">
<div class=" stats-2 block">
<h2>Twitter live follower count</h2>
<div class="form-group">
    <form id="t_user_search" action="/twit/">
    <div class="input-group">
      <input type="text" class="form-control" name="username" placeholder="Search for the twitter username">
      <div class="input-group-append">
       <button type="submit" class="btn btn-primary">Go!</button>
    </div>
    </div>
    </form>
    </div>

</div>
</div>