
<div class="stats-2 block d-flex">
<div class="container-fluid">
    <h3 class="title">Youtube realtime video analytics</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum earum quasi repellendus fuga? Ex praesentium ut distinctio cum laborum mollitia eius animi. Eligendi facere officiis ducimus provident! Quaerat, sapiente ipsam?</p>
</div>
</div>