<script src='/vendor/jquery/jquery.min.js'></script>
<script src="/js/video_search.js"></script>

<h3 style='padding:2%'>Showing search results for {{q}}</h3>

<hr>

<div id="search_results" class="container"></div>